autopep8==2.0.2
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.0
contourpy==1.0.6
cycler==0.11.0
Flask==2.2.5
fonttools==4.38.0
gunicorn==20.0.0
idna==3.2
itsdangerous==2.0.2
Jinja2==3.0.2
joblib==1.0.0
kiwisolver==1.2.4
MarkupSafe==2.0.2
matplotlib==3.4.1
numpy==1.21.1
packaging==22.1
Pillow==9.2.0
pycodestyle==2.6.0
pyparsing==3.0.0
python-dateutil==2.5.2
requests==2.24.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post5
soupsieve==2.4.1
threadpoolctl==3.1.0
tomli==2.0.1
urllib3==2.0.2
watchdog==3.0.0
Werkzeug==2.3.4
